.button{
    cursor: pointer;
}

.videoPlayer{
    height: 50%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 10rem 2rem 10rem;
}

.videoName{
    color: white;
    font-size: 36px;
}

.videoConteiner{
    display: flex;
    position: relative;
}

.video{
    width: 100%;
    height: 100%;
}

.controlsPlayer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.controls{
    display: flex;
    align-items: center;
    justify-content: center;
}

.controlButton__play{
    width: 75px;
    height: 75px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}

.controlButton{
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.timeControls{
    display: flex;
    width: 100%;
    align-items: center;
}

.timeBar{
    width: 97%;
    height: 2px;
    background-color: #2A2D32;
    margin-right: 0.5rem;
}

.timeBar_progress{
    height: 100%;
    background-color: white;
}

.time{
    font-size: 14px;
}

.progressTime{
    color: white;
}

.allTime{
    color: #959595;
}

.controlsButtons{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.controls{
    display: flex;
    gap: 2rem;
}

.controls_rewind{
    display: flex;
    gap: 0.5rem;
}

.rewindButton{
    width: 45px;
    height: 45px;
}

.controls_volume{
    /* width: 8rem; */
    display: flex;
    align-items: center;
    gap: 1rem;
}

.volumeButton{
    width: 25px;
    height: 25px;
}

.volumeBar{
    width: 6rem;
    height: 2px;
    background-color: #2A2D32;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.volumeBar_current{
    width: 20%;
    height: 100%;
    background-color: white;
}

.controls_options{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.optionsButton{
    height: 55px;
}

.settingsButton{
    height: 35px;
    width: 35px;
}

.screenButton{
    height: 30px;
    width: 30px;
}
