.form {
	display: grid;
	gap: 1em;

	padding: 2rem;

	background-color: rgba(0, 0, 0, 0.904);
}

.header {
	padding-bottom: 1em;

	border-bottom: 1px solid #ffffff;
}

.middle {
	align-items: stretch;
	gap: 1em;
}

.options-color {
	display: flex;
	gap: 4rem;
	align-items: center;
}

.switches {
	display: flex;
	flex-direction: column;
}

.sliders {
	display: flex;
	justify-content: space-between;
}

.field {
	color: white;
}

.field fieldset {
	border: 1px solid #ffffff !important;
}

.field input {
	color: white;
}

.field svg {
	color: white;
}
