.wrapper {
	box-shadow: none;
}

.container {
	display: flex;
	align-items: center;

	justify-content: space-between;
}

.logo {
	width: 138px;
	height: auto;
}

.navigation {
	gap: 20px;
}

.accessability {
	color: #ffffff;
}

.search {
	width: 220px;
}

.account {
	color: #ffffff;
}
