.wrapper {
  display: grid;
  gap: 25px;
}

.title {
  font-weight: 500;
}

.list {
	display: grid;
	/*
  Сделать автоматическое разбиени
  */
	grid-template-columns: repeat(4, minmax(240px, 320px));
	gap: 20px;
}
