.controls {
	display: flex;
	justify-content: space-between;
}

.button {
	color: white;
}

.groups {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon {
	font-size: 3rem;
}

.slider {
	width: 200px;

	color: white;
}
