:root {
	--primary-color-100: #001424;
	--primary-color-90: #1d334a;
	--secondary-color-100: #ba9d5a;

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
}

.page {
	min-height: 100vh;
}

.page__body {
	min-height: 100vh;

	margin: 0;
	padding: 0;

	color: white;

	background-color: var(--primary-color-100);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}
