.nav {
	display: flex;
	justify-content: space-between;
  align-items: center;
}

.list {
	display: contents;

	padding: 0;
	margin: 0;

	list-style: none;
}

.item {
	padding: 0;
	margin: 0;
}

.link {
	padding-bottom: 10px;

	font-size: 24px;
	color: currentColor;
	text-transform: capitalize;
	text-decoration: none;
  font-weight: 400;

	border-bottom: 1px solid transparent;
	border-radius: 0;

	transition: color ease-in-out 250ms;
}

.link:hover {
	color: var(--secondary-color-100);
}

.active {
	color: var(--secondary-color-100);

	border-color: var(--secondary-color-100);
}
